<h1>Gestion des commandes</h1>
<mat-card>
  <mat-card-header>
    <mat-form-field>
      <input matInput (keyup)="Filterchange($event)" placeholder="Chercher par un mot clé" />
    </mat-form-field>
    <button *ngIf="connectedUserRole == roles[0]" (click)="addCommande()" mat-raised-button color="primary" style="width: 20%;" class="add">Ajouter une commande</button>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="isLoading" class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>


    <table *ngIf="!isLoading" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
      <ng-container matColumnDef="numero">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Numéro</th>
        <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
      </ng-container>

      <ng-container matColumnDef="designation">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Désignation</th>
        <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Date</th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <ng-container matColumnDef="observation">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Observation</th>
        <td mat-cell *matCellDef="let element"> {{element.observation}} </td>
      </ng-container>

      <ng-container matColumnDef="fournisseur">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Fournisseur</th>
        <td mat-cell *matCellDef="let element">  {{element.fournisseurNom}}</td>
      </ng-container>

      <ng-container matColumnDef="directeur">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Directeur</th>
        <td mat-cell *matCellDef="let element">{{ element.userFirstName }} {{ element.userLastName }}</td>
      </ng-container>



      <ng-container matColumnDef="produits">
        <th mat-header-cell *matHeaderCellDef> Produits </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.produits && element.produits.length > 0">
                        <span *ngFor="let produit of element.produits; let last = last">
                      {{ produit.produitDesignation }}{{ last ? '' : ', ' }}
                    </span>
          </ng-container>
          <span *ngIf="!element.produits || element.produits.length === 0">
                    Aucun produit
                  </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="quantites">
        <th mat-header-cell *matHeaderCellDef> Quantités </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.produits && element.produits.length > 0">
                        <span *ngFor="let quantite of element.produits; let last = last">
                      {{ quantite.quantiteAjoutee }}{{ last ? '' : ', ' }}
                    </span>
          </ng-container>
          <span *ngIf="!element.produits || element.produits.length === 0">
                    Aucune quantité
                  </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="action-header"> {{(connectedUserRole == roles[0]) ?"Action" :""}} </th>
        <td mat-cell *matCellDef="let element">
          <div class="button-group">
            <button *ngIf="connectedUserRole == roles[0]" (click)="editCommande(element)" mat-raised-button color="primary">Modifier</button>
            <button *ngIf="connectedUserRole == roles[0]" (click)="deleteCommande(element.id)" mat-raised-button color="warn">Supprimer</button>
            <button (click)="generatePDF(element.id)" mat-raised-button color="success">PDF</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
  <br>
  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-footer>
</mat-card>
