<h1>Gestions des laboratoires</h1>
<mat-card>
  <mat-card-header>
    <mat-form-field>
      <input matInput (keyup)="Filterchange($event)" placeholder="Chercher par un mot clé" />
    </mat-form-field>
    <button *ngIf="connectedUserRole == roles[1]" (click)="addLabo()" mat-raised-button color="primary" style="width: 20%;" class="add">Ajouter une labo</button>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="isLoading" class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>


    <table *ngIf="!isLoading" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
      <ng-container matColumnDef="laboType">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Type</th>
        <td mat-cell *matCellDef="let element"> {{element.laboType}} </td>
      </ng-container>
      <ng-container matColumnDef="sallesTp">
        <th mat-header-cell *matHeaderCellDef> Salles de TP </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.salleTps && element.salleTps.length > 0">
                        <span *ngFor="let salle of element.salleTps; let last = last">
                      {{ salle != null ?salle.numero : "rien" }}{{ last ? '' : ', ' }}
                    </span>
          </ng-container>
          <span *ngIf="!element.salleTps || element.salleTps.length === 0">
                    Aucune salle de TP
                  </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="action-header"> {{connectedUserRole == roles[1] ?"Action" :""}} </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="connectedUserRole == roles[1]" class="button-group">
            <button (click)="editLabo(element)" mat-raised-button color="primary">Modifier</button>
            <button (click)="deleteLabo(element.id)" mat-raised-button color="warn">Supprimer</button>
            <!-- <button mat-raised-button class="delete-button" style="background-color: green; color: white;">Détails</button> -->
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
  <br>
  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-footer>
</mat-card>
