
<div style="margin-top: 100px; text-align: center; font-family: Arial, sans-serif; color: #333;">
  <div style="display: inline-block; padding: 40px; border: 2px solid #f44336; border-radius: 10px; background-color: #fff; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #f44336;">Accès Refusé</h1>
    <p style="font-size: 18px; line-height: 1.6;">
      <strong>Une autorisation est nécessaire pour cette demande !</strong><br> Merci de contacter l'administrateur de l'application pour obtenir les droits nécessaires.
    </p>
    <button (click)="goToRoute()" mat-raised-button color="primary" style="margin-top: 20px; padding: 10px 20px; font-size: 16px; border: none; border-radius: 5px; background-color: #1976d2; color: #fff; cursor: pointer;">
      Revenir à l'application
    </button>
  </div>
</div>
